:root {
  --basic-black: #000;
  --black2: #333;
  --basic-white: #fff;
  --white-opacity: rgba(255, 255, 255, 0.3);
  --basic-blue: #81b3d2;
  --blue-hover: #669ec0;
  --blue-active: #5496bd;
  --basic-brown: #766357;
  --brown-hover: #604e43;
  --brown-active: #503e33;
  --brown2: #766357;
  --basic-grey: #f2f2f2;
  --grey2: #a9a9a9;
  --grey3: #cacaca;
  --grey4: #bdbbbc;
  --grey-link: #b3b3b3;
  --grey-background: #eee;
  --grey-hover: #ebebeb;
  --grey-active: #e5e5e5;
  --basic-red: #f00;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
}

.container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.page {
  height: 100%;
  background-color: var(--basic-grey);
}

.main-body {
  background-color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-body * {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.sedona-intro h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-top: 40px;
}

.sedona-intro p {
  margin-top: 40px;
}

.go-to-us-section,
.sedona-intro,
.contact-section,
.option-section,
.other-reasons,
.reason-section-text-div {
  text-align: center;
}

.sort-section h2 {
  width: 135px;
}

.sort-section h3 {
  margin-left: 40px;
}

.sort-links {
  margin-left: 40px;
}

.sort-links li {
  margin-right: 32px;
}

.fieldset-infrastructure,
.fieldset-flat-type {
  width: 180px;
}

.div-for-fielset-price-and-button {
  width: 320px;
  margin-left: auto;
}

.sedona-slide {
  background-color: var(--basic-brown);
  background-image: url("../img/main-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-section {
  color: var(--basic-white);
  background-image: url("../img/background-blur.jpg");
  background-repeat: no-repeat;
}

.filter-section .show-button {
  background-color: transparent;
  border: 2px solid var(--basic-white);
}

.search-form ::placeholder {
  color: var(--basic-black);
}

.reason-section,
.open-search-form-button,
.social-section a,
.more-info-button,
.search-button {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.reason-section-1 {
  background-image: url("../img/reason-1.jpg");
  background-repeat: no-repeat;
}

.other-reasons {
  background-color: var(--grey-background);
}

.sedona-intro p,
.author-section p,
.search-form label,
.search-form input {
  font-size: 14px;
  line-height: 26px;
}

.reason-section h3,
.option-section h3,
.other-reasons h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.pre-search-section h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.reason-section p,
.option-section p,
.other-reasons p,
.pre-search-section p,
.filter-form label,
.filter-form button,
.found-section p,
.found-section a {
  font-size: 14px;
  line-height: 21px;
}

.option-section,
.other-reasons {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.search-form label,
.search-form input,
.found-section a {
  font-weight: bold;
}

.search-form input {
  background-color: var(--basic-grey);
  border: none;
}

.search-form input:hover {
  background-color: var(--grey-hover);
}

.search-form input:active,
.search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--grey-active);
  outline: none;
}

.search-form {
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: var(--basic-white);
  display: none;
  position: fixed;
  left: 50%;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.reason-section-text-div {
  width: 400px;
}

.reason-section-text-div p,
.option-section p,
.other-reasons p {
  margin-top: 24px;
}

.go-to-us-section {
  width: 568px;
  margin: 0 auto;
}

.go-to-us-section p {
  margin-top: 34px;
}

.open-search-form-button {
  margin-top: 50px;
}

.open-search-form-button,
.contact-section p,
.search-form button,
.sort-section h2,
.found-section h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.filter-form legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.hotel-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-link:hover {
  color: var(--basic-blue);
}

.hotel-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-section a,
.sort-section h3 {
  font-size: 12px;
  line-height: 18px;
}

.sort-section__words a {
  color: var(--grey-link);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-section__words a:hover {
  opacity: 1;
  color: var(--basic-blue);
}

.sort-section__words a:active {
  border-bottom: none;
  opacity: 1;
  color: var(--basic-black);
}

.sedona-intro p,
.option-section p,
.other-reasons p,
.pre-search-section p,
.found-section p {
  color: var(--black2);
}

.sort-section__words .current-sort-link {
  color: var(--basic-blue);
  opacity: 1;
  border: none;
}

.sort-section__arrow-link svg {
  fill: var(--grey3);
}

.sort-section__arrow-link:hover svg {
  fill: var(--basic-black);
}

.sort-section__arrow-link:active svg,
.sort-section__arrow-link_active svg {
  fill: var(--basic-blue);
}

.show-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-nav {
  display: flex;
  justify-content: space-around;
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 520px;
}

.main-footer {
  display: flex;
  justify-content: space-around;
}

.social-section ul {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  justify-content: space-between;
}

.author-section {
  display: flex;
  align-items: center;
  width: 210px;
  justify-content: space-between;
}

.filter-form {
  display: flex;
}

.sort-section {
  display: flex;
}

.sort-links {
  display: flex;
  justify-content: space-between;
  width: 780px;
}

.sort-section__words {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.main-body .sort-section__arrows {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.hotel-description {
  width: 260px;
}

.hotel-rating {
  width: 180px;
  margin-left: auto;
}

.found-section {
  display: grid;
  grid-template-columns: 1fr;
}

.found-section article {
  display: flex;
}

.main-nav a:hover {
  color: var(--basic-blue);
}

.main-nav a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav .current-link {
  color: var(--basic-brown);
}

.button {
  color: var(--basic-white);
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.contact-section {
  width: 250px;
}

.book-button,
.open-search-form-button {
  background-color: var(--basic-brown);
}

.social-section a:hover,
.search-button:hover,
.more-info-button:hover {
  background-color: var(--blue-hover);
}

.social-section a:active,
.search-button:active,
.more-info-button:active {
  color: var(--white-opacity);
  background-color: var(--blue-active);
}

.book-button:hover,
.open-search-form-button:hover {
  background-color: var(--brown-hover);
}

.book-button:active,
.open-search-form-button:active {
  color: var(--white-opacity);
  background-color: var(--brown-active);
}

.link-to-course:hover svg {
  fill: var(--basic-blue);
}

.link-to-course:active svg {
  fill: var(--grey4);
}

*, *::before, *::after {
  box-sizing: border-box;
}
