:root {
  --basic-black: #000;
  --black2: #333;
  --basic-white: #fff;
  --white-opacity: rgba(255, 255, 255, 0.3);
  --basic-blue: #81b3d2;
  --blue-hover: #669ec0;
  --blue-active: #5496bd;
  --basic-brown: #766357;
  --brown-hover: #604e43;
  --brown-active: #503e33;
  --brown2: #766357;
  --basic-grey: #f2f2f2;
  --grey2: #a9a9a9;
  --grey3: #cacaca;
  --grey4: #bdbbbc;
  --grey-link: #b3b3b3;
  --grey-background: #eee;
  --grey-hover: #ebebeb;
  --grey-active: #e5e5e5;
  --basic-red: #f00;
  --toggle-color: #ababab;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
}

.container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

.main-body {
  background-color: var(--basic-grey);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-header,
.main {
  background-color: var(--basic-white);
}

.main-header *,
.main *,
.main-footer * {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.sedona-intro {
  padding-bottom: 52px;
}

.sedona-intro h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-top: 42px;
}

.sedona-intro p {
  margin-top: 43px;
}

.go-to-us-section,
.sedona-intro,
.contact-section,
.option-section,
.other-reasons,
.reason-section-text-div {
  text-align: center;
}

.sort-section h2 {
  width: 135px;
}

.sort-section h3 {
  margin-top: 2px;
  margin-left: 28px;
}

.sort-links {
  margin-left: 40px;
}

.sort-links li {
  margin-right: 33px;
  line-height: 23px;
}

.sort-section__arrows li {
  margin-right: 0;
}

.fieldset-infrastructure,
.fieldset-flat-type {
  width: 180px;
}

.fieldset-flat-type {
  margin-left: 74px;
}

.fieldset-infrastructure label,
.fieldset-flat-type label {
  display: block;
}

.fieldset-infrastructure legend,
.fieldset-flat-type legend {
  margin-bottom: 26px;
}

.check {
  padding-left: 40px;
  position: relative;
  margin-bottom: 25px;
}

.fieldset-flat-type .check {
  padding-left: 43px;
}

.check:last-child {
  margin-bottom: 0;
}

.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check__box {
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  left: 0;
}

.check__input:checked + .check__box {
  background-image: url("../img/checkbox-on.svg");
  width: 27px;
}

.check__input:focus + .check__box {
  outline: 2px solid var(--grey-active);
  outline-offset: 3px;
}

.check__input:disabled + .check__box {
  opacity: 0.3;
}

.div-for-fieldset-price-and-button {
  width: 320px;
  margin-left: auto;
}

.number-range {
  border: 2px solid var(--basic-white);
  padding: 5px 30px 5px 65px;
  width: 317px;
}

.number-range label {
  width: 159px;
  position: relative;
}

.number-range label:first-child::after {
  position: absolute;
  content: "";
  background-color: var(--basic-white);
  height: 22px;
  width: 2px;
  right: -25px;
  top: -1px;
}

.number-range label:last-child {
  margin-left: 78px;
}

.number-range input {
  width: 45px;
  border: none;
  background-color: transparent;
  color: var(--basic-white);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.fieldset-price legend {
  margin-bottom: 12px;
}

.sedona-intro__slide {
  background-color: var(--basic-blue);
  background-image: url("../img/main-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.senoda-intro__text {
  width: 550px;
  margin: 0 auto;
}

.filter-section {
  color: var(--basic-white);
  background-image: url("../img/background-blur.jpg");
  background-color: var(--basic-blue);
  background-repeat: no-repeat;
  padding: 26px 70px 31px 72px;
}

.filter-section fieldset {
  border: none;
}

.filter-section .show-button {
  background-color: transparent;
  border: 2px solid var(--basic-white);
  width: 137px;
  padding: 5px 35px 6px 36px;
  margin: 33px 98px 0 auto;
}

.ranger {
  position: relative;
}

.scale {
  width: 317px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 21px;
}

.bar {
  width: 253px;
  height: 2px;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-color);
  box-sizing: content-box;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
  top: -9px;
  left: 0;
}

.toggle:hover {
  width: 5px;
  height: 5px;
  border-width: 9px;
}

.toggle-max {
  left: 253px;
}

.search-form ::-webkit-input-placeholder {
  color: var(--basic-black);
}

.search-form ::-moz-placeholder {
  color: var(--basic-black);
}

.search-form ::placeholder {
  color: var(--basic-black);
}

.reason-section,
.open-search-form-button,
.social-section a,
.more-info-button,
.search-button {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.other-reasons {
  background-color: var(--grey-background);
}

.sedona-intro p,
.author-section p,
.search-form label,
.search-form input {
  font-size: 14px;
  line-height: 26px;
}

.reason-section h3,
.option-section h3,
.other-reasons h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.pre-search-section h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.reason-section p,
.option-section p,
.other-reasons p,
.pre-search-section p,
.filter-form label,
.filter-form button,
.found-section p,
.found-section a {
  font-size: 14px;
  line-height: 21px;
}

.option-section,
.other-reasons {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.search-form label,
.search-form input,
.found-section a {
  font-weight: bold;
}

.search-form input {
  background-color: var(--basic-grey);
  border: 2px solid transparent;
  padding: 3px 35px 5px 11px;
}

.search-form input:hover {
  background-color: var(--grey-hover);
}

.search-form input:active,
.search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--grey-active);
  outline: none;
}

.search-form {
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: var(--basic-white);
  position: absolute;
  width: 568px;
  padding: 24px 55px 55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.search-form p,
.two-labels-div {
  margin-top: 30px;
}

.search-form label,
.two-labels-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form p {
  position: relative;
}

.children-div-count,
.adult-div-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.children-div-count {
  min-width: 180px;
}

.adult-div-count {
  min-width: 226px;
}

.two-labels-div input {
  text-align: center;
}

.long-input {
  width: 346px;
}

.short-input,
.sign-button {
  width: 38px;
}

.two-labels-div input {
  padding: 3px 3px 5px 3px;
}

.div-with-buttons-and-input {
  display: flex;
}

.reason-section-text-div {
  width: 400px;
  padding: 46px 41px 54px 43px;
}

.reason-section {
  display: flex;
}

.reason-section-2 .reason-section-text-div {
  padding: 49px 41px 51px 44px;
}

.reason-section h3,
.other-reasons h3 {
  width: 151px;
  margin: 0 auto;
}

.other-reasons h3 {
  width: 150px;
}

.option-section div {
  padding: 159px 50px 82px;
  position: relative;
}

.option-section div::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-home.svg");
  width: 75px;
  height: 72px;
  top: 60px;
  left: 162px;
}

.option-section div:nth-child(3)::before {
  background-image: url("../img/icon-food.svg");
  width: 75px;
  height: 70px;
  top: 61px;
}

.option-section div:nth-child(4)::before {
  background-image: url("../img/icon-gift.svg");
  width: 64px;
  height: 77px;
  top: 55px;
  left: 168px;
}

.other-reasons div {
  padding: 45px 69px 54px;
}

.reason-section-text-div p,
.option-section p {
  margin-top: 27px;
}

.other-reasons p {
  margin-top: 27px;
}

.other-reasons p:last-child {
  margin-top: 23px;
}

.reason-section p:last-child {
  margin-top: 24px;
}

.go-to-us-section {
  width: 568px;
  margin: 0 auto;
  padding-top: 57px;
  position: relative;
}

.go-to-us-section h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 34px;
}

.go-to-us-section p {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.go-to-us-section p:nth-child(3) {
  margin-top: 4px;
}

.open-search-form-button {
  margin-top: 45px;
  padding: 30px 139px;
  width: 568px;
  position: relative;
  z-index: 6;
}

.open-search-form-button,
.contact-section p,
.search-form button,
.sort-section h2,
.found-section h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.contact-section p:last-child {
  margin-top: 9px;
}

.filter-form legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.hotel-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-link:hover {
  color: var(--basic-blue);
}

.hotel-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-section a,
.sort-section h3 {
  font-size: 12px;
  line-height: 18px;
}

.sort-section__words a {
  color: var(--grey-link);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-section__words a:hover {
  opacity: 1;
  color: var(--basic-blue);
}

.sort-section__words a:active {
  border-bottom: none;
  opacity: 1;
  color: var(--basic-black);
}

.sedona-intro p,
.option-section p,
.other-reasons p,
.pre-search-section p,
.found-section p {
  color: var(--black2);
}

.sort-section__words .current-sort-link {
  color: var(--basic-blue);
  opacity: 1;
  border: none;
}

.sign-button svg {
  fill: var(--grey2);
}

.sort-section__arrow-link svg,
.button-icon svg {
  fill: var(--grey3);
}

.sort-section__arrow-link:hover svg,
.button-icon:hover svg,
.sign-button:hover svg {
  fill: var(--basic-black);
}

.sort-section__arrow-link:active svg,
.sort-section__arrow-link_active svg,
.button-icon:active svg,
.sign-button:active svg {
  fill: var(--basic-blue);
}

.show-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-nav {
  margin-bottom: -21px;
  padding-left: 73px;
  padding-right: 71px;
}

.main-nav_catalog {
  margin-bottom: -23px;
}

.main-nav li {
  width: 228px;
  padding-top: 14px;
}

.main-nav li:nth-child(3) {
  width: 138px;
  margin-left: 2px;
  margin-right: 4px;
  padding-top: 0;
}

.main-nav__left-link {
  text-align: left;
}

.main-nav__right-link {
  text-align: right;
}

.main-nav .logo {
  position: relative;
  z-index: 1;
}

.main-nav a {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.sedona-intro__slide img {
  margin-top: -5px;
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.main-footer {
  display: flex;
  margin-top: -126px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 23px 138px 34px 111px;
  opacity: 0.9;
  min-height: 120px;
  z-index: 4;
}

.main-footer_hotels {
  margin-top: 0;
  opacity: 1;
}

.map-section {
  position: relative;
}

.map-section iframe {
  position: relative;
  z-index: 3;
  width: 100%;
}

.map-section p {
  position: absolute;
  z-index: 2;
  top: 0;
}

.social-section {
  margin-left: 164px;
  margin-top: 13px;
}

.social-section ul {
  display: flex;
  flex-wrap: wrap;
  width: 170px;
}

.social-section li {
  margin-right: 6px;
}

.social-section a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.author-section {
  display: flex;
  align-items: center;
  width: 197px;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 7px;
}

.main-footer_hotels .author-section {
  margin-top: 14px;
}

.more-info-button,
.book-button {
  margin-top: 4px;
}

.more-info-button {
  width: 110px;
}

.book-button {
  width: 142px;
}

.filter-form {
  display: flex;
}

.sort-section {
  display: flex;
  border-bottom: 1px solid var(--grey-active);
  padding: 30px 73px 29px;
}

.sort-links {
  display: flex;
  justify-content: space-between;
  width: 776px;
}

.sort-section__words {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.main-body .sort-section__arrows {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 34px;
  margin-top: 5px;
}

.hotel-description {
  width: 260px;
  margin-left: 29px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
}

.hotel-description h3 {
  grid-column: 1/-1;
  margin-top: -6px;
  margin-bottom: -4px;
}

.hotel-description .hotel-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-rating {
  width: 110px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-rating p {
  padding: 3px 12px 3px 15px;
  background-color: var(--basic-grey);
  width: 110px;
}

.found-section {
  display: grid;
  grid-template-columns: 1fr;
}

.found-section article {
  display: flex;
  padding: 30px 73px 30px;
  border-bottom: 1px solid var(--grey-active);
}

.main-nav a:hover {
  color: var(--basic-blue);
}

.main-nav a:active:not(.logo) {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav .current-link {
  color: var(--basic-brown);
}

.button {
  color: var(--basic-white);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon {
  position: absolute;
  right: 14px;
}

.button-calendar {
  right: 9px;
  top: 7px;
}

.search-button {
  width: 100%;
  margin-top: 54px;
  padding: 16px;
}

.contact-section {
  width: 250px;
}

.book-button,
.open-search-form-button {
  background-color: var(--basic-brown);
}

.social-section a:hover,
.search-button:hover,
.more-info-button:hover {
  background-color: var(--blue-hover);
}

.social-section a:active,
.search-button:active,
.more-info-button:active {
  color: var(--white-opacity);
  background-color: var(--blue-active);
}

.social-section a:active img {
  opacity: 0.3;
}

.book-button:hover,
.open-search-form-button:hover {
  background-color: var(--brown-hover);
}

.book-button:active,
.open-search-form-button:active {
  color: var(--white-opacity);
  background-color: var(--brown-active);
}

.link-to-course:hover svg {
  fill: var(--basic-blue);
}

.link-to-course:active svg {
  fill: var(--grey4);
}

@keyframes show {
  0% {
    transform: translate(-50%, -86px);
    padding: 0 55px;
  }
  100% {
    transform: translate(-50%, 0);
    padding: 24px 55px 55px;
  }
}

@keyframes error {
  10%, 90% {
    transform: translateX(-48%);
  }

  20%, 80% {
    transform: translateX(-52%);
  }

  30%, 50%, 70% {
    transform: translateX(-49%);
  }

  40%, 60% {
    transform: translateX(-51%);
  }
}

.modal {
  display: none;
}

.modal-show {
  display: block;
  -webkit-animation-name: show;
  animation-name: show;
  -webkit-animation-duration: 1.0s;
  animation-duration: 1.0s;
}

.main-body .star-list {
  display: flex;
  margin-top: -1px;
  margin-right: -2px;
}

.star-list li {
  margin-right: 5px;
}

.star-list li:last-child {
  margin-right: 0;
}

.more-info-button,
.book-button {
  padding: 1px 15px;
}

.hotel-image {
  align-self: flex-start;
}

.sort-links a {
  font-weight: normal;
}

.modal-error {
  -webkit-animation-name: error;
  animation-name: error;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

*, *::before, *::after {
  box-sizing: border-box;
}
